*{
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

.layout{
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: auto min(calc(100%-40px), 1200px) auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
    ". header ."
    ". main .";
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

nav{
    display: flex;
    gap: 20px;
    justify-self: end;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1200px){
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px){
    main{
        grid-template-columns: 1fr 1fr;
    }
}
