* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.display-none {
    display: none;
}

.wrapper {
 padding: 0px 15px;
}

header {
    box-shadow: 0px 5px 10px -5px rgba(37, 37, 37, 0.7);
    position: relative;
}

nav {
    padding: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    word-spacing: 10px;
    letter-spacing: 5px;
}

nav a span {
    font-weight: bold;
}

.hero {
    background-image: url(images/architect.jpg);
    background-position: center;
    background-size: cover;
    min-height: 200px;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

#BR {
    background-color: rgba(0, 0, 0 , 0.8);
    padding: 10px;
}

h2{
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding-bottom: 10px;
    padding-top: 40px;
    font-size: 22px;
}

.summer-house {
    background-image: url(images/summer-house.jpg);
}

.brick-house {
    background-image: url(images/brick-house.jpg);
}

.renovated {
    background-image: url(images/renovated.jpg);

}

.barn-house {
    background-image: url(images/barn-house.jpg);
}

.project h3 {
    background-color: black;
    color: white;
    padding: 7px;
    margin: 0;
    font-weight: 100;
    font-size: 14px;
}

.project {
    display: flex;
    align-items: flex-start;
    background-position: center;
    background-size: cover;
}

.project,
.person-card img {
    height: 250px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-people img {
    object-fit: cover;
    max-width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
}

.job-title {
    opacity: 0.5;
}

.about-people button{
    width: 100%;
    border: none;
    background-color: rgb(216, 216, 216);
    padding: 5px;
    margin-bottom: 10px;
}

.about-people{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    padding: 5px;
}

form button{
    background-color: black;
    color: white;
    max-width: 130px;
    border: none;
    padding: 10px;
    margin-top: 10px;
}

.street{
    max-width: 100%;
    min-height: 25vh;
    margin-top: 25px;
    margin-bottom: 20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

@media screen and (min-width: 768px){
    .hero{
        height: 40vh;
        min-height: 450px;
    }

    .display-none{
        display: initial;
    }
    
    .wrapper {
        min-width: 768px;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   .navigation{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    h1{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project {
        flex-basis: calc(50% - 5px);
    }

    .about-people img {
        width: 100%;
        
    }

    .about-people{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .person-card {
        flex-basis: calc(50% - 5px);
    }
}

@media screen and (min-width: 1200px) {
    .wrapper{
        min-width: 1200px;
        padding: 0 100px;
    }

    .hero{
        height: 60vh;
    }

    .project {
        flex-basis: calc(25% - 7.5px);
    }

    .person-card {
        flex-basis: calc(25% - 7.5px);
    }

    .project,
    .person-card img {
    height: 150px;
}
}