body {
    font-family: "Open Sans", sans-serif;
}

.navigation-bar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(208, 207, 207);
}

.navigation-meniu {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

/* DROPDOWN */
.dropdown {
    display: none;
    position: relative;
    padding: 10px;
}

.dropdown-burger {
    height: 30px;
    width: 30px;
    background-color: red;
    mask: url(assets/Vectors-svg/bars-solid.svg) no-repeat center / contain;
    -webkit-mask: url(assets/Vectors-svg/bars-solid.svg) no-repeat center /contain;
    cursor: pointer;
}

.dropdown-meniu {
    display: none;
    position: absolute;
    background-color: green;
    right: 0px;
    top: 100%;
    margin: 0;
    padding: 10px 20px;
    list-style-type: none;
}

.dropdown:hover .dropdown-burger {
    background-color: rgb(255, 0, 0, 0.5);
}

.dropdown:hover .dropdown-meniu {
    display: block;
} 

/* HIDE NAVIGATION MENU, ENABLE DROPDOWN */
@media screen and (max-width: 760px ) {
    .navigation-meniu{
        display: none;
    }

    .dropdown {
        display: block;
    }
    
}