*{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    font-family: sans-serif;
}

.layout {
    display: grid;
    grid-template-columns: 246px auto;
    grid-template-rows: 186px auto;
    grid-template-areas:
    "navigation header"
    "navigation h-content";
    height: 100%;
}

.navigation {
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    padding: 40px 26px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px #0000000D;
    position: relative;
}

.navigation__links-list{
    flex: 1;
    margin-top: 46px;
}

.navigation__link {
    height: 46px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgba(77, 77, 77, 1);
    padding: 0 18px;
}

.navigation__links-list img {
    width: 20px;
    object-fit: scale-down;
    margin-right: 18px;
}

.link--active {
    border-radius: 10px;
    background-color: rgba(27, 89, 248, 0.1);
    color: rgba(27, 89, 248, 1);
}

.link--active img {
    color: rgba(27, 89, 248, 1);
}

.navigation__links-list a span {
    margin-left: 10px;
}

.header {
    grid-area: header;
    height: 98px;
    display: grid;
    grid-template-columns: 44px auto 63px;
    grid-template-areas:
    ". heading-top ."
    ". heading-bottom .";
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98px;
    width: calc(100%-94px);
}

.header__container:not(:last-child) {
    grid-area: heading-top;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__container:last-child {
    height: 86px;
    grid-area: heading-bottom;
}

.header__top {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__navigation {
    background-color: #F0F2F5;
    border-radius: 12px;
}

.header__lists {
    display: flex;
    gap: 75px;
    padding: 14px 2px;
    margin: 0;
    align-items: center;
}

.header__list-item {
    list-style: none;
}

.header__list {
    list-style: none;
    border-radius: 10px;
    color: #00000080;
    text-decoration: none;
    padding: 12px 27px;
}

.list--active {
    background-color: #FFFFFF;
    box-shadow: 0px 5px 20px 0px #0000000D;
    color: #1B59F8;
}

.header__link {
    flex: 1;
    text-align: right;
    text-decoration: none;
}

.header__span {
    color: #1B59F8;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px #0000000D;
}

.header__inner-span {
    font-size: x-large;
    font-weight: 100;
}

.search__icon,
.meniu__image{
    height: 12px;
    width: 12px;
}

.search__input {
    border: none;
}

.meniu__link {
    text-decoration: none;
    color: #494949;

}

.h-content {
    grid-area: h-content;
    display: grid;
    grid-auto-rows: 230px;
    gap: 30px; 
    margin-left: 44px;
    margin-right: 63px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    overflow-y: auto;
    padding-bottom: 30px;
}

.card__new {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #E6E6E6;
    border-radius: 18px;
    background-color: white;
    height: 100%;
    justify-content: center;
    
}

.card__icon {
    background-color: #E8EEFE;
    border-radius: 39px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__title {
    font-size: 18px;
    margin: 0;
}

.card__new .card__title {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 26px;
}

.card__content {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    font-size: 10px;
    margin-top: 12px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 14px;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    text-decoration: none;
    gap: 12px;
    background-color: black;
}

.card__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.7;
    filter: blur(25px);
    -webkit-filter: blur(25px);
    transform: scale(1.1);
}

.card__image {
    z-index: 100;
    height: 94px;
    object-fit: cover;
}

.card .card__title {
    flex: 1;
    color: white;
    line-height: 108%;
    z-index: 100;
}

.card__menu {
    width: 20px;
    color: white;
}

.card__extra-info {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 120%;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}




@media screen and (max-width: 768px) {
    .layout {
        grid-template-areas: 
        "navigation"
        "h-content";
        grid-template-columns: auto;
        grid-template-rows: 114px auto;
    }

    .header {
        display: none;
    }
}